extends index

block content
  #header
    include header
  #landing-wrapper
    include landing
  #artist
    a(class='username')
    .user_avatar
    img(class='follow' src='/gfx/follower.png')
    #sc-widget
  img(class='credit' src='/gfx/poweredby-sc.png')
